<h2 class="resume-side-bar-title">General Info</h2>
<h3 class="resume-side-bar-subtitle">Location</h3>
<p>Servicing the Washington DC Metropolitan Area</p>
<h3 class="resume-side-bar-subtitle">LinkedIn</h3>
<a href="https://www.linkedin.com/in/dtgillaird/">Devan T. Gillaird</a>

<h2 class="resume-side-bar-title">Top Skills</h2>
<h3 class="resume-side-bar-subtitle">Full Stack Development</h3>
<p>Servicing the Washington DC Metropolitan Area</p>
<h3 class="resume-side-bar-subtitle">Cloud Technologies</h3>
<p>Servicing the Washington DC Metropolitan Area</p>
<h3 class="resume-side-bar-subtitle">SAFE Agile</h3>
<p>Servicing the Washington DC Metropolitan Area</p>

<h2 class="resume-side-bar-title">Software</h2>
<div class="row">
  <h3 class="row resume-side-bar-subtitle">Angular</h3>
  <div class="row rating-icon-wrapper">
    <mat-icon class="rating-icon">fiber_manual_record</mat-icon>
    <mat-icon class="rating-icon">fiber_manual_record</mat-icon>
    <mat-icon class="rating-icon">fiber_manual_record</mat-icon>
    <mat-icon class="rating-icon">fiber_manual_record</mat-icon>
    <mat-icon class="rating-icon">fiber_manual_record</mat-icon>
  </div>
  <h4 class="row rating-icon-label">Excellent</h4>
</div>
<div class="row">
  <h3 class="resume-side-bar-subtitle">Spring Boot Java</h3>
  <div class="row rating-icon-wrapper">
    <mat-icon class="rating-icon">fiber_manual_record</mat-icon>
    <mat-icon class="rating-icon">fiber_manual_record</mat-icon>
    <mat-icon class="rating-icon">fiber_manual_record</mat-icon>
    <mat-icon class="rating-icon-empty">radio_button_unchecked</mat-icon>
    <mat-icon class="rating-icon-empty">radio_button_unchecked</mat-icon>
  </div>
  <h4 class="row rating-icon-label">Good</h4>
</div>
<div class="row">
  <h3 class="resume-side-bar-subtitle">AWS</h3>
  <div class="row rating-icon-wrapper">
    <mat-icon class="rating-icon">fiber_manual_record</mat-icon>
    <mat-icon class="rating-icon">fiber_manual_record</mat-icon>
    <mat-icon class="rating-icon">fiber_manual_record</mat-icon>
    <mat-icon class="rating-icon">fiber_manual_record</mat-icon>
    <mat-icon class="rating-icon-empty">radio_button_unchecked</mat-icon>
  </div>
  <h4 class="row rating-icon-label">Great</h4>
</div>
