/* You can add global styles to this file, and also import other style files */
// @import "~bootstrap/dist/css/bootstrap.css.";

@font-face {
  font-family: 'Urbanist';
  src: url('../src/assets/fonts/Urbanist/static/Urbanist-Thin.ttf');
}

@font-face {
  font-family: 'AbrilFatface';
  src: url('../src/assets/fonts/AbrilFatface/AbrilFatface-Regular.ttf');
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

